# Titanic

Brytyjski transatlantyk typu Olympic w chwili wodowania - 31 maja 1911 - był największym parowym statkiem pasażerskim na świecie.

![](https://pngimg.com/uploads/titanic/titanic_PNG1.png)

10 kwietnia 1912 roku Titanic wyruszył w swój dziewiczy rejs na trasie Southampton – Cherbourg – Queenstown – Nowy Jork.

![](https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/TitanicRoute.svg/1280px-TitanicRoute.svg.png)

W nocy z 14 na 15 kwietnia 1912 roku zderzył się z górą lodową i zatonął.

Katastrofę Titanica przeżyło około 750 osób. Około 1500 zginęło.

## Kto przetrwał? Co miało wpływ na przeżycie?

In [201]:
import pandas as pd
import numpy as np

from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [202]:
df_train = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/train.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1556181090&Signature=GGSjgK2MeCF4hpegbMGbQexr9Cqlz4mNv3WAuj0555h4PJ4rxxVUJcjpMi%2F7TbMX5YC9SrfSYkQtLvME2JchTq7EER8mcUkATHFlwB9i4FSnvLz%2BVl9RmDvsFe%2Fa%2B3DnEcWXhxXAK00SVTWOtZif7vn36xuSzU7JQFfgifx2NefxlV4nUGxiuDkTl5iK2QoE6AMvvFqr6uf799VDfeeWLwEDzXAPVxyS9Mzor6Q9OqM4Mr%2FUg1k9wxjRjXwe8Z45r1kqg%2FzyIJQI8uOu8cXWoB7nLIGG6j8C1Ir7ItAn2ZSiNAqHkyUJikpPhBaxHLJ38dFpUeP9iAgD9tbKLMbZqg%3D%3D')
df_test = pd.read_csv('https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/test.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1556180762&Signature=KiHni6%2BBkMhBO5VspbkH7CK%2BtzN7kD%2BuYbc28rivoNkE1Sdz6HbE%2F2jd%2B03CeVGLjkukjwFSTMg6Ik3qA1zdwJalEqXpfn%2BHNHQWhMVYim3q2HP9OUi%2F6n4jMxVvL5wYt1hTKfCUlsNAu2s6i0MdBeQ9CE8uGttY55hsZF1Mvx3EF10ljyxezamNaRTkELbnZS0kkujhLKmJubE7byRg4G%2BoCD2uZ%2FUAoqkQxIdF7v58v0xdrrzFNQ%2FRvufSLjgsOBf2jOZqQy%2BjvkAqMIjK7QFH7jbk2OfGfJ6dOAr0sbis424SVmiFxiXty5MqJv1cRQ3lGeIBPD6V%2F5eZxTOFfw%3D%3D')

In [203]:
df.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_cat,Family,Formula
772,773,0,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S,1,0,-1
530,531,1,2,"Quick, Miss. Phyllis May",female,2.0,1,1,26360,26.0000,NaN,S,1,2,-1
373,374,0,1,"Ringhini, Mr. Sante",male,22.0,0,0,PC 17760,135.6333,NaN,C,0,0,-1
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,1,1,-2
701,702,1,1,"Silverthorne, Mr. Spencer Victor",male,35.0,0,0,PC 17475,26.2875,E24,S,0,0,-1
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S,0,0,-3
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.9000,NaN,S,0,7,-3
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S,1,2,-2
121,122,0,3,"Moore, Mr. Leonard Charles",male,28.0,0,0,A4. 54510,8.0500,NaN,S,0,0,-3
504,505,1,1,"Maioni, Miss. Roberta",female,16.0,0,0,110152,86.5000,B79,S,1,0,0

* Survival: czy przeżył (0 = nie, 1 = tak)
* Pclass: klasa (1, 2, 3)
* Name: imię i nazwisko
* Sex: płeć
* Age: wiek
* SibSp: liczba rodzeństwa/małżonków na pokładzie statku 
* Parch: liczba rodziców/dzieci na pokładzie statku
* Ticket: numer biletu
* Fare: koszt biletu
* Cabin: kabina
* Embarked: port zaokrętowania (C = Cherbourg; Q = Queenstown; S = Southampton)

In [204]:
X = df_train[['Pclass']].values
y = df_train['Survived'].values

In [205]:
df_test['Fare'].unique()

array([  7.8292,   7.    ,   9.6875,   8.6625,  12.2875,   9.225 ,
         7.6292,  29.    ,   7.2292,  24.15  ,   7.8958,  26.    ,
        82.2667,  61.175 ,  27.7208,  12.35  ,   7.225 ,   7.925 ,
        59.4   ,   3.1708,  31.6833,  61.3792, 262.375 ,  14.5   ,
        61.9792,  30.5   ,  21.6792,  31.5   ,  20.575 ,  23.45  ,
        57.75  ,   8.05  ,   9.5   ,  56.4958,  13.4167,  26.55  ,
         7.85  ,  13.    ,  52.5542,  29.7   ,   7.75  ,  76.2917,
        15.9   ,  60.    ,  15.0333,  23.    , 263.    ,  15.5792,
        29.125 ,   7.65  ,  16.1   ,  13.5   ,   7.725 ,  21.    ,
         7.8792,  42.4   ,  28.5375, 211.5   ,  25.7   ,  15.2458,
       221.7792,  10.7083,  14.4542,  13.9   ,   7.775 ,  52.    ,
         7.7958,  78.85  ,   7.8542,  55.4417,   8.5167,  22.525 ,
         7.8208,   8.7125,  15.0458,   7.7792,  31.6792,   7.2833,
         6.4375,  16.7   ,  75.2417,  15.75  ,   7.25  ,  23.25  ,
        28.5   ,  25.4667,  46.9   , 151.55  ,  18.    ,  51.8625,
        83.1583,      nan,  12.1833,  31.3875,   7.55  ,  13.775 ,
         7.7333,  22.025 ,  50.4958,  34.375 ,   8.9625,  39.    ,
        36.75  ,  53.1   , 247.5208,  16.    ,  69.55  ,  32.5   ,
       134.5   ,  10.5   ,   8.1125,  15.5   ,  14.4   , 227.525 ,
        25.7417,   7.05  ,  73.5   ,  42.5   , 164.8667,  13.8583,
        27.4458,  15.1   ,  65.    ,   6.4958,  71.2833,  75.25  ,
       106.425 ,  30.    ,   7.8875,  27.75  , 136.7792,   9.325 ,
        17.4   ,  12.7375,   0.    ,  20.2125,  39.6   ,   6.95  ,
        81.8583,  41.5792,  45.5   ,   9.35  ,  93.5   ,  14.1083,
         7.575 , 135.6333, 146.5208, 211.3375,  79.2   ,  15.7417,
         7.5792, 512.3292,  63.3583,  51.4792,  15.55  ,  37.0042,
        14.4583,  39.6875,  11.5   ,  50.    ,  12.875 ,  21.075 ,
        39.4   ,  20.25  ,  47.1   ,  13.8625,   7.7208,  90.    ,
       108.9   ,  22.3583])

In [206]:

df['Age'] = df['Age'].fillna(df['Age'].median())
df['Sex_cat'] = df['Sex'].factorize()[0]
df['Family'] = df['Parch'] + df['SibSp']
df['Formula'] = - df['Pclass'] + df['Sex_cat']
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [207]:
age = df[df['Age']!=np.nan]['Age']
df['Age']= df['Age'].replace(np.nan,age.mean())

age = df[df['Fare']!=np.nan]['Fare']
df['Fare']= df['Fare'].replace(np.nan,age.mean())

In [208]:
feats = ['Pclass', 'Sex_cat', 'Age', 'Fare']
X = df[feats].values
y = df_train['Survived'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.1)

In [209]:
modelDTC = DecisionTreeClassifier(max_depth=7)
modelDTC.fit(X_train, y_train)
y_predDTC = modelDTC.predict(X_test)
accuracy_score(y_test, y_predDTC)

0.8777777777777778

In [210]:
modelRFC= RandomForestClassifier(max_depth=10, n_estimators = 60)
modelRFC.fit(X_train, y_train)
y_predRFC = modelRFC.predict(X_test)
accuracy_score(y_test, y_predRFC)

0.8888888888888888

In [211]:
df_test['Sex_cat'] = df_test['Sex'].factorize()[0]
age = df[df['Age']!=np.nan]['Age']
df_test['Age']= df_test['Age'].replace(np.nan,age.mean())

age = df_test[df_test['Fare']!=np.nan]['Fare']
df_test['Fare']= df_test['Fare'].replace(np.nan,age.mean())

In [212]:
df_test['Age'].unique()

array([34.5       , 47.        , 62.        , 27.        , 22.        ,
       14.        , 30.        , 26.        , 18.        , 21.        ,
       29.36158249, 46.        , 23.        , 63.        , 24.        ,
       35.        , 45.        , 55.        ,  9.        , 48.        ,
       50.        , 22.5       , 41.        , 33.        , 18.5       ,
       25.        , 39.        , 60.        , 36.        , 20.        ,
       28.        , 10.        , 17.        , 32.        , 13.        ,
       31.        , 29.        , 28.5       , 32.5       ,  6.        ,
       67.        , 49.        ,  2.        , 76.        , 43.        ,
       16.        ,  1.        , 12.        , 42.        , 53.        ,
       26.5       , 40.        , 61.        , 60.5       ,  7.        ,
       15.        , 54.        , 64.        , 37.        , 34.        ,
       11.5       ,  8.        ,  0.33      , 38.        , 57.        ,
       40.5       ,  0.92      , 19.        , 36.5       ,  0.75      ,
        0.83      , 58.        ,  0.17      , 59.        , 14.5       ,
       44.        ,  5.        , 51.        ,  3.        , 38.5       ])

In [213]:
X = df_test[feats].values
df_test['Survived'] = modelRFC.predict(X)
df_test[['PassengerId','Survived']].to_csv('output/RFC4.csv', index = False)